.signup-container {
    position: absolute;
    width: 450px;
    height: 360px;
    padding: 0;
    margin: 10px;
    top: 15px;
    right: 20px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

.desc {
    position: relative;
    top: 0px;
    background-color: blueviolet;
}

.inputs {
    position: relative;
    width: 320px;
    height: 200px;
    display: flex;
    top: 5px;
    left: 66px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: bisque;
}

.name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.name img {
    position: relative;
    left: 10px;
}

.name input {
    position: relative;
    left: -20px;
}

.age {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.age img {
    position: relative;
    left: 10px;
}

.age input {
    position: relative;
    left: -20px;
}

.username {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.username img {
    position: relative;
    left: 10px;
}

.username input {
    position: relative;
    left: -20px;
}

.email {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.email img {
    position: relative;
    left: 10px;
}

.email input {
    position: relative;
    left: -20px;
}

.password {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.password img {
    position: relative;
    left: 10px;
}

.password input {
    position: relative;
    left: -20px;
}

.options {
    position: relative;
    width: 300px;
    height: 50px;
    top: 10px;
    left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: brown;
}

.options button {
    cursor: pointer;
}