.container {
  width: 100%;
  height: 100dvh;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
}
  
.body {
  width: 98vw;
  height: 75dvh;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-section {
  position: relative;
  width: 26.5vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aquamarine;
}

.menu {
  position: absolute;
  width: 25vw;
  height: 100%;
  left: 0px;
  background-color: bisque;
}

.menu .item1 {
  position: absolute;
  left: 32%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.menu .item2 {
  position: absolute;
  left: 45.5%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu .item3 {
  position: absolute;
  left: 36%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.center-section {
  position: relative;
  width: 48.5vw;
  height: 100%;
  left: 0px;
  background-color:chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sub-section {
  position: relative;
  width: 20vw;
  padding: 20px 20px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-section .badge {
  position: relative;
  width: 180px;
  height: 30px;
  top: -5px;
  left: 30px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.badge img {
  position: relative;
  left: 5px;
  width: 29px;
  height: 29px;
}

.profile {
  position: relative;
  height: 60dvh;
  bottom: -10px;
  padding: 10px;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc{
  position: relative;
  top: 50px;
  padding: 10px;
  background-color: yellowgreen;
}

.profile .logout {
  position: absolute;
  left: 53px;
  bottom: 15px;
  cursor: pointer;
}