.container {
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
}

.body {
    position: relative;
    width: 98vw;
    height: 75dvh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: burlywood;
}

.sub-section button {
    cursor: pointer;
}