.header {
    position: relative;
    width: 98vw;
    height: 60px;
    /* background-color: red; */
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
  }
  
  .title {
    position: absolute;
    /* background-color: green; */
    color: rgb(85, 55, 81);
    top: -15px;
    margin-left: 38%;
  }
  
  .header p {
    position: absolute;
    /* background-color: aqua; */
    right: 20px;
    bottom: 0px;
    font-size: smaller;
  }